.cards {
  display: flex;
  justify-content: flex-start;
  gap: 5rem;
  flex-wrap: wrap;
  /*margin-top: 10rem;*/
  margin: 10rem auto;
  width: 80vw;
}

.card {
  display: flex;
  flex-direction: column;
  /* width: 15rem; */
  /* flex: 0 1 auto; */

  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 15rem;

  border: 1px solid #222;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 15px 15px #666;
}

.card > p {
  padding: 1rem;
}

.card > button {
  margin: 1rem;
  padding: .5rem 1rem; 
}